@model BurgersListViewModel

    <h1>@Model.CurrentCategory</h1>   
    @foreach (var burger in Model.Burgers)
            {
                <partial name="_BurgerCard" model="burger"/>
            }
